@import "variables";


@font-face {
	font-family: "Alata";
	src: url("./fnt/Alata-Regular.ttf");
}

@font-face {
	font-family: "Big Shoulders";
	src: url("./fnt/BigShouldersInlineText-VariableFont_wght.ttf");
}

body {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 1024px;
	min-height: 100vh;

	margin: 0;
	margin-left: auto;
	margin-right: auto;

	font-family: "Alata", sans-serif;
	color: #111;
	box-sizing: border-box;
}

a {
	color: $maincolor;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: .2s;
}

a:hover {
	text-decoration-color: $maincolor;
}

.center {
	text-align: center;
}

.important {
	color: $secondcolor;
}

.important a {
	color: $secondcolor;
	text-decoration-color: $secondcolor;
}

header {
	overflow: hidden;
	margin: 0;
	box-shadow: 0pt 2pt 8pt #3338;
}

header:not(:has(+ nav)) {
	border-radius: 0 0 .5em .5em;
}

header #banner {
	background-image: url("./img/snowscat-H3oXiq7_bII-unsplash.jpg");
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 4em 0;
	width: 100%;
}

header #banner-content {
	text-align: center;
	color: $verylightgrey;
	background-color: rgba($colorbackgroundheader, 0.8);
	padding: 1.5em 0;
	box-shadow: 0pt 2pt 8pt #3338;
}

header h1 {
	font-size: 350%;
	font-weight: 700;
	font-family: "Big Shoulders", Helvetica, sans-serif;
	margin: 0;
}

header p {
	margin: 0;
}

header .description {
	font-size: 108%;
}

header .when,
header .where {
	padding: 0px 2px;
}

header .when {
	color: $maincolor;
}

header .where {
	color: $secondcolor;
}

nav {
	text-align: center;
	background-color: $colornavbar;
	padding-top: 1em;
	padding-bottom: 1em;
	color: $verylightgrey;
	// border-top: solid .15em #111;
	border-radius: 0 0 .5em .5em;
	position: sticky;
	top: 0em;
	box-shadow: 0pt 2pt 8pt #3338;
}

nav .hamburger {
	display: none;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 0 2em;
}

nav ul li {
	text-align: center;
}

nav ul li a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: .2s;
}

nav ul li a:hover {
	text-decoration-color: $verylightgrey;
}

h2::before {
	content: "› ";
}

h2 {
	margin-top: .5em;
}

nav,
main,
footer {
	padding-left: 6em;
	padding-right: 6em;
}

main {
	flex: 1;
}

section {
	margin: 3em 0;
}

footer {
	display: block;

	font-size: 85%;
	text-align: center;
	margin: 0 0 3em 0;
}

button {
	margin: 1em 1em 0 1em;
	padding: .8em 1.3em;

	align-items: center;
	display: inline-flex;

	appearance: none;
	background-color: $maincolor;
	border-radius: .5em;
	border-width: 0;

	font-size: 120%;
	color: $verylightgrey;
	font-family: monospace;
	font-weight: 600;

	cursor: pointer;
	transition: box-shadow .5s, transform .5s;
	box-shadow: 0 4px 1px $maincolor-darken;
}

a:has(button) {
	text-decoration: none;
}

button:hover {
	box-shadow: 0 2px 1px $maincolor-darken;
	transform: translateY(2px);
}

button:active {
	box-shadow: 0 3px 1px $maincolor-darken inset;
	transition: box-shadow .15s, transform .15s;
	transform: translateY(5px);
}

button.secondary {
	background-color: $secondcolor;
	box-shadow: 0 4px 1px $secondcolor-darken;
}

button.secondary:hover {
	box-shadow: 0 2px 1px $secondcolor-darken !important;
}

button.secondary:active {
	box-shadow: 0 3px 1px $secondcolor-darken inset !important;
}

@media screen and (max-width: 1024px) {
	nav {
		border-radius: 0;
	}

	.hamburger-container {
		display: block;
		height: 20px;
		width: 1em;
		margin-left: auto;
		cursor: pointer;
	}

	.hamburger-button {
		margin-top: 8px;
	}

	.hamburger-button,
	.hamburger-button::before,
	.hamburger-button::after {
		display: block;
		background-color: $verylightgrey;
		padding: 0;
		position: absolute;
		height: 2px;
		width: 1em;
		transition: transform 400ms cubic-bezier(0.15, 1, 0.25, 1);
		border-radius: 2px;
	}

	.hamburger-button::before {
		content: '';
		margin-top: -6px;
	}

	.hamburger-button::after {
		content: '';
		margin-top: 6px;
	}

	nav #menu-container ul {
		display: block;
	}

	nav #menu-container ul li {
		height: 0;
		overflow: hidden;

		font-size: 120%;
		font-weight: 400;
		text-align: left;

		transition: height 400ms cubic-bezier(0.15, 1, 0.25, 1);
	}

	nav input#menu:checked~#menu-container li {
		height: 1.5em;
		transition: height 400ms cubic-bezier(0.15, 1, 0.25, 1);
	}

	nav input#menu:checked~#menu-container ul {
		margin-bottom: 1em;
	}

	nav input#menu:checked~.hamburger-container .hamburger-button:before {
		transform: translateY(6px) rotate(405deg);
	}

	nav input#menu:checked~.hamburger-container .hamburger-button {
		background-color: $colornavbar;
	}

	nav input#menu:checked~.hamburger-container .hamburger-button:after {
		transform: translateY(-6px) rotate(-405deg);
	}
}

@media screen and (max-width: 896px) {

	nav,
	main,
	footer {
		padding-left: 4em;
		padding-right: 4em;
	}
}

@media screen and (max-width: 640px) {
	#banner {
		padding: 7em 0;
	}

	nav,
	main,
	footer {
		padding-left: 2.5em;
		padding-right: 2.5em;
	}

	footer {
		margin-bottom: 2em;
	}

	section {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
}